.checkout-container {
    display: grid;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 30px;
    width: 70vw;
}

.checkout-item-image {
    grid-column: span 2;
    text-align: center;
}

.checkout-item {
  display: grid;
  padding: 20px;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 30px;
  column-gap: 30px;
  transition: 0.1s;
}

.checkout-item:hover {
  transition: 0.1s;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(19, 67, 210);
}

.title{
    color: black;
}

.item-info {
    color: black;
    text-align: center;
}

.payment-options {
    display: flex;
    justify-content: center;
    color: black;
    gap: 20px;
}

.actionButtons {
    background-color: rgb(19, 67, 210);
    transition: 0.5s;
  }
  
  .actionButtons:hover {
    background-color: navy;
    transition: 0.5s;
  }
  
  .rButton {
    background-color: red;
    transition: 0.5s;
  }
  
  .rButton:hover {
   background-color: darkred;
   transition: 0.5s;
  }

  .finish {
    background-color: rgb(19, 67, 210);
    transition: 0.5s;
  }

  .finish:hover{
    background-color: navy;
    transition: 0.5s;
  }

  .finish-container{
    padding: 20px;
  }