.back {
  justify-content: start;
  align-items: center;
  transition: 0.5s;
}

.cart {
  justify-content: end;
  align-items: center;
  transition: 0.5s;
}

.cart-item {
  padding: 20px;
  margin-top: 20px;
  transition: 0.1s;
}

.cart-item:hover {
  border-style: solid;
  border-color: rgb(19, 67, 210);
  border-radius: 10px;
  transition: 0.1s;
}

.navbar {
  background-color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 30px;
}

.navbar ul {
  display: flex;
  align-items: center; /* Center items vertically */
  list-style: none;
  padding: 20px;
  padding-left: 0px;
  margin: 0;
  width: 100%;
  justify-content: space-between; /* Distribute space between items */
}

.back:hover {
  background-color: rgb(19, 67, 210);
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s;
}

.cart:hover {
  background-color: rgb(19, 67, 210);
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s;
}

.title-navbar {
  color: black;
  font-size: 20px;
}

.shopcart-centered {
  border-right: 30px;
  color: black;
  font-size: 20px;
  text-align: center;
  width: 100vw;
  padding-right: 80px;
}

.bback {
  border: none;
  background-color: white;
  color: black;
  transition: 0.5s;
}
.bback:hover {
  background-color: rgb(19, 67, 210);
  transition: 0.5s;
}

.ccart {
  border: none;
  background-color: white;
  color: black;
  transition: 0.5s;
}

.ccart:hover {
  background-color: rgb(19, 67, 210);
  transition: 0.5s;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.cart-title {
  color: black;
  border-style: solid;
  border: 1px;
  border-color: black;
}

.teste {
  color: black;
}

.total {
  color: black;
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1001;
  text-align: center;
}
.checkout-button {
  background-color: rgb(19, 67, 210);
  transition: 0.5s;
}

.checkout-button:hover {
  background-color: navy;
  transition: 0.5s;
}

.close-button {
  background-color: rgb(19, 67, 210);
  transition: 0.5s;
}

.close-button:hover {
  background-color: navy;
  transition: 0.5s;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.remover {
  margin-top: 10px;
}

.actionButtons {
  background-color: rgb(19, 67, 210);
  transition: 0.5s;
}

.actionButtons:hover {
  background-color: navy;
  transition: 0.5s;
}

.rButton {
  background-color: red;
  transition: 0.5s;
}

.rButton:hover {
 background-color: darkred;
 transition: 0.5s;
}